<header class="flex">
  <h1>Welcome to {{ title }}!</h1>
</header>
<main>
  <h2>Resources &amp; Tools</h2>
  <p>Thank you for using and showing some ♥ for Nx.</p>
  <hr>
<!--  <a [routerLink]="['/foo/', products.id]" >FOO</a>-->
  <a [routerLink]="['/foo/']" >FOO</a><br>
  <a [routerLink]="['/bar/']" >BAR</a><br>
  <a [routerLink]="['/baz/']" >BAZ</a><br>
  <a [routerLink]="['/default/']" >DEFAULT</a>
  <router-outlet></router-outlet>
</main>
<footer>
  <div>
    <p (click)='logout()' class="message">&copy; by Baufi24 AG</p>
  </div>
</footer>
